apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: photo-storage-pvc
  namespace: dating-app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 20Gi