name: Test Docker Hub Login

on:
  workflow_dispatch:

jobs:
  test-login:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check secrets
      run: |
        echo "DOCKERHUB_USERNAME is set: ${{ secrets.DOCKERHUB_USERNAME != '' }}"
        echo "DOCKERHUB_TOKEN is set: ${{ secrets.DOCKERHUB_TOKEN != '' }}"
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Test push simple image
      run: |
        echo "FROM alpine:latest" > Dockerfile
        echo "RUN echo 'Hello World'" >> Dockerfile
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/test-image:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/test-image:latest